<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página da empresa</title>
    <link rel="stylesheet" href="/css/empresa/companyPage.css">
</head>
<body>
    <h1>Página da empresa</h1>

    <form action="/empresa/mostrarContribuicao">
        <button type="submit">Ver contribuições feitas</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Produto</th>
            <th>Peso</th>
            <th>Descrição</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contribuicao : ${contribuicoes}">
            <td th:text="${contribuicao.usuario.nome}"></td>
            <td th:text="${contribuicao.usuario.sobrenome}"></td>
            <td th:text="${contribuicao.produto}"></td>
            <td th:text="${contribuicao.peso}"></td>
            <td th:text="${contribuicao.descricao}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>
