<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Página da empresa</h1>

    <form action="/empresa/mostrarContribuicao">
        <button type="submit">Ver contribuições feitas</button>
    </form>

    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Produto</th>
            <th>Peso</th>
            <th>Descrição</th>
        </tr>
        </thead>
        <tbody>
        <!-- Itera sobre a lista de contribuições -->
        <tr th:each="contribuicao : ${contribuicoes}">
            <td th:text="${nome}"></td>
            <td th:text="${sobrenome}"></td>
            <td th:text="${contribuicao.produto}"></td>
            <td th:text="${contribuicao.peso}"></td>
            <td th:text="${contribuicao.descricao}"></td>
        </tr>
        </tbody>
    </table>

    <form action="/auth/logout">
        <button type="submit" style="color: red;">LOGOUT</button>
    </form>
</body>
</html>