<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contribuições</title>
    <link rel="stylesheet" href="contri.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
            <div class="title">
                <h1>Contribuições</h1>
            </div>
            <div class="profile-image">
                
            </div>
            <div class="menu">
                <h3>Informações</h3>
                <ul>
                    <li>Qual material?</li>
                    <li>Peso aproximado</li>
                    <li>Adicionar imagens</li>
                    <li>Adicionar descrição</li>
                    <li>Dados do endereço</li>
                    <li>Horário de busca</li>
                </ul>
            </div>
        </div>
        <div class="right-panel">
            
        </div>
    </div>
</body>
</html>
