<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Usuário</title>
    <link rel="stylesheet" href="usuario.css">
</head>
<body>
    <div class="container">
        <div class="profile-image">
           
            <img src="Micheal.jpg" alt="Imagem de Perfil">
        </div>
        <div class="menu">
            <ul>
                <li>Olá Michael!</li>
                <li>Alterar Perfil</li>
                <li>Endereços</li>
                <li>Contribuições</li>
                <li>Cupons</li>
                <li>Minhas compras</li>
                <li>Sair</li>
            </ul>
        </div>
        <div class="info-box">
            
        </div>
    </div>
</body>
</html>
