<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Recicle e Multiplique</title>
</head>
<body>

<header>
    <h1>Recicle e Multiplique</h1>
    <p>Sua empresa de reciclagem sustentável</p>
</header>

<nav>
    <a href="#">Página Inicial</a>
</nav>

<section>
    <h2>Bem-vindo à Recicle e Multiplique</h2>
    <p>Nós nos dedicamos a promover um ambiente mais limpo e sustentável através da reciclagem de materiais.</p>
</section>

<div>
    <a href="/auth/registrationPage">Cadastro</a>
</div>

<div>
    <a href="/auth/loginPage">Login</a>
</div>

<footer>
    <p>&copy; 2024 Recicle e Multiplique. Todos os direitos reservados.</p>
</footer>

</body>
</html>
